body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color:paleturquoise;
}


footer {
  background-color:black;
  text-decoration-color: white;
  text-align:center;
  text-indent: inherit;
}



/* Card */
.card {
  transition: all 0.5s ease;
  background-color: black;
}

.card-body{
  background-color:powderblue;
}

.card:hover {
  transform: scale(1.1); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Product */
* {
  transition: all 0.5s ease;
}

.img-product:hover {
  transform: scale(1.1);
}